In [ ]:
##tf-idf vectorizer -- statistic measure of importance of a word in a document.

<img src = "tfidf.png">

In [ ]:
# s1 - good boy 
# s2 - good girl
# s3 - boy girl good

In [ ]:
##tf 
#           s1    s2          s3
#good      1/2   1/2         1/3

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer

doc = ["good boy", "good girl", "boy girl good"]

tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(doc)

import pandas as pd 
df = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf.get_feature_names_out())
df

        boy      girl      good
0  0.789807  0.000000  0.613356
1  0.000000  0.789807  0.613356
2  0.619805  0.619805  0.481334