In [ ]:
## for , while 
##statement -- break and continue

In [ ]:
##for loop -- iterating over a sequence
##seq - list , tuple , string ,

In [ ]:
s = "python"
for i in s:                       ## temporary variable -- i
    print(i,end=" ")

p y t h o n

In [3]:
lst = ["red","black","blue"]
for i in lst:
    print(i)
    print(i.upper())

red
RED
black
BLACK
blue
BLUE

In [10]:
dt = {
    "name" : "google",
    "founder" : "sundar pichai"
}
for i,j in dt.items():
    print(i,"------",j)

name ------ google
founder ------ sundar pichai

In [6]:
dt.items()

dict_items([('name', 'google'), ('founder', 'sundar pichai')])

In [11]:
##square function -- list ---output in list
def fun(ls):
    ls1 = []
    for i in ls:
        ls1.append(i*i)
    print(ls1)

In [12]:

ls = [2,3,4]
fun(ls)

[4, 9, 16]

In [13]:
##break statement 

for i in range(1,11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [2]:
for i in range(1,11):
     pass## do nothing

In [3]:
##while loop --
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [4]:
##reverse
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [5]:
##continue in while

i = 1
while i <= 10:
    if i == 5:
        i += 1
        continue
    print(i)
    i += 1

1
2
3
4
6
7
8
9
10

In [6]:
#  Sum of numbers from 1 to n
n = int(input("helllo"))
i = 1 
total = 0
while i <= n:
    total += i
    i += 1
print(total)

6

In [ ]:
# Factorial of a number
n = int(input("helllo"))
fact = 1 
while n > 1:
    fact *= n
    n -= 1
print(fact)